@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", sans-serif;
font-family: "Caveat", cursive;
font-family: "Comfortaa", cursive; */
/* --gelato-pink: #ffcbe1;
--gelato-green: #d6e5be;
--gelato-yellow: #fae1a7;
--gelato-blue: #bbd8ec;
--gelato-purple: #dcccea;
--gelato-orange: #ffdab4; */

/* Todo form */
.todo-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-size: medium;
}

.todo-form input {
  flex: 1 0 75%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  color: var(--text);
  background-color: var(--button-background-light);
  color: var(--text-light);
  transition: transform 0.25s ease;
  box-shadow: 0 0 2px var(--shadow);
  outline: none;
  font-size: medium;
}
.todo-form input:hover {
  transform: scale(1.005);
}
.todo-form input:focus {
  border-color: var(--primary);
}
.todo-form button {
  flex: 1 1 0%;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-weight: 500;
  color: var(--text);
  background-color: var(--button-background-light);
  color: var(--text-light);
  cursor: pointer;
  transition: transform 0.25s ease;
  box-shadow: 0 0 2px var(--shadow);
  outline: none;
  white-space: nowrap;
  border: none;
}

.todo-form button:hover {
  transform: scale(1.05);
}

/* Todo stuff */
.todo-parent {
  width: 80%;
}
.todo-parent h1 {
  font-size: 2.5rem;
  font-family: "Caveat", cursive;
  margin: 0;
}
.todo-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--gelato-blue);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.todo-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--text-light) !important;
}
.todo {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: var(--text);
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.todo-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: var(--button-background);
  box-shadow: 0 0 2px var(--shadow);
  padding: 0.75rem 1rem;
  font-size: medium;
  transition: transform 0.25s ease;
  color: var(--text-light) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.todo-item input[type="checkbox"] {
  background-color: var(--button-background) !important;
}
.todo-item:hover {
  transform: scale(1.005);
}
.todo-item:has(input:checked) {
  text-decoration: line-through;
}

.todo-delete {
  border-radius: 0.5rem;
  font-weight: 500;
  color: var(--text);
  background-color: var(--button-background);
  cursor: pointer;
  box-shadow: 0 0 2px var(--shadow);
  outline: none;
  align-self: stretch;
  text-decoration: none !important;
  border: none !important;
  transition: transform 0.25s ease;
}
.todo-delete:hover {
  transform: scale(1.1);
}
/* Caaatssss */
.cats-container {
  position: relative;
}
.cats {
  display: flex;
  justify-content: space-between;
  transform: translateY(22%);
}

.cats img {
  width: 100px;
  height: 100px;
  user-select: none;
}

.todo {
  margin: 0;
}

.cat-standing-easter-egg {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: spin-and-move-from-left-to-right-easter-egg 5s infinite;
}

@keyframes spin-and-move-from-left-to-right-easter-egg {
  0% {
    transform: translateX(-100%) rotate(0deg);
  }
  50% {
    transform: translateX(100%) rotate(180deg);
  }
  100% {
    transform: translateX(100vw) rotate(360deg);
  }
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  /* background-color: var(--gelato-purple); */
  background-color: var(--button-background);
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  font-weight: 300;
}
nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
nav p {
  margin: 0;
  padding: 0.75rem 1.5rem;

  text-decoration: none;
}

nav button {
  font-weight: 500;
  text-decoration: underline;
  border: none !important;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  color: var(--text);
}

/* Footer stuff */
.footer-cat-study-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 2rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem;
  user-select: none;
}
.footer-cat-study {
  z-index: 2;
  width: 8rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--gelato-purple); */
  background-color: var(--button-background);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;
}
footer p {
  margin: 0;
  padding: 0.75rem 1.5rem;
}
.theme-switcher {
  position: absolute;
  right: 0;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.theme-switcher * {
  cursor: pointer;
}
.theme-switcher input {
  display: none;
}
.theme-switcher label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;

  transition: background-color 0.25s;
  user-select: none;
}
.theme-switcher .light-mode {
  display: none;
}

.theme-switcher .dark-mode {
  display: flex;
}

.theme-switcher input:checked ~ .light-mode {
  display: flex;
}

.theme-switcher input:checked ~ .dark-mode {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-light);
    background-color: var(--background-light);
    --background: var(--background-light);
    --text: var(--text-light);
    --button-background: var(--button-background-light);
  }
  a:hover {
    color: #747bff;
  }
}
